html {
    background-image: url("https://images.pexels.com/photos/112811/pexels-photo-112811.jpeg?cs=srgb&dl=bricks-brickwall-indoors-112811.jpg&fm=jpghttps://images.pexels.com/photos/1282315/pexels-photo-1282315.jpeg?cs=srgb&dl=blue-brick-wall-chair-1282315.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

body {
    margin: 0;
    display: flex;
    flex: 1;
    min-height: 50vh;
    align-items: center;
}

.clock {
    width: 20rem;
    height: 20rem;
    border: 10px solid #4e4c4c;
    border-radius: 50%;
    position: relative;
    top: 25rem;
    padding: 5rem;
    margin: 50px auto;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
}

.hand {
    position: absolute;
    top: 50%;
    right: 50%;
    border-radius: 40px;
    /* Rotate the very side*/
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 50ms;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.second {
    width: 70%;
    height: 3px;
    background: #6d6969;
}

.minute {
    width: 60%;
    height: 6px;
    background: #4e4c4c;
}

.hour {
    width: 45%;
    height: 6px;
    background: #4e4c4c;
}